; http://editorconfig.org/
; https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328

root=true

[*]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.cs]
indent_style = space
indent_size = 2