bin
obj

*.user
*.pidb
*.suo
*.vsp
*.ipch

/Setup/Accord.Setup.dll
/Setup/Accord.Setup.pdb

/Sources/Accord.Music
/Sources/TestResults
*.sdf
*.shfbproj_*

/Release
/Debug

/Docs
/Unit Tests/Accord.Tests.Math.Cpp/Debug
/Unit Tests/Accord.Tests.Math.Cpp/Release
/Sources/Debug
/Sources/Release

/Sources/*.opensdf
