# Set default behaviour, in case users don't have core.autocrlf set.
* binary

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
#*.c   text
#*.cpp text
#*.h   text

# Declare files that will always have CRLF line endings on checkout.
#*.sln    text eol=crlf
#*.bat    text eol=crlf
#*.svg    text eol=crlf
#*.csproj text eol=crlf
#*.cs     text eol=crlf
#*.tt     text eol=crlf
#*.xml    text=auto

# Denote all files that are truly binary and should not be modified.
#*.png binary
#*.jpg binary
#*.csv binary
#*.xls binary
#*.xlsx binary



*.txt     diff
*.c       diff
*.cpp     diff
*.h       diff
*.sln     diff
*.tt      diff
*.bat     diff
*.svg     diff
*.csproj  diff
*.vcxproj diff
*.cs      diff
*.tt      diff
*.xml     diff
.gitattributes diff
.gitignore     diff