<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AForge" publicKeyToken="C1DB6FF4EAA06AEB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge.Math" publicKeyToken="ABBA2E25397EE8C9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
